/* body {
  background-color: #454545 !important;
}

#gjs {
  border: 3px solid #383737;
}

.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-block {
  height: 35px;
  width: 80px;
  min-height: auto;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

.panel__switcher {
  position: initial;
}

.bg-light {
  --bs-bg-opacity: 0 !important;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

.gjs-pn-buttons {
  align-items: flex-start;
  display: inline;
  justify-content: none;
} */
